{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        aleph/aleph {:mvn/version "0.4.6"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        http-kit/http-kit {:mvn/version "2.3.0"}
        djblue/portal {:mvn/version "0.27.0"}
        metosin/malli {:mvn/version "0.8.4"}
        metosin/reitit {:mvn/version "0.5.18"}
        mount/mount {:mvn/version "0.1.16"}
        selmer/selmer {:mvn/version "1.12.53"}
        environ/environ {:mvn/version "1.2.0"}
        nrepl/nrepl {:mvn/version "0.9.0"}
        com.brunobonacci/mulog {:mvn/version "0.9.0"}
        nano-id/nano-id {:mvn/version "1.0.0"}}
 :paths ["src/clj" "resources"]
 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
                   :ns-default build}
           :run {:main-opts ["-m" "fpsd.unrefined.server"]}
           :test {:main-opts ["-m" "kaocha.runner"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}}}}}
