<!DOCTYPE html>
<html>
  <head>
    <title>Unrefined! (Alpha)</title>
    <meta http_equiv="content-type" content="text/html; charset=utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/style.css" />
    {% block head %}{% endblock %}
  </head>
  <body data-refinement="{{refinement.code}}" data-ticket="{{ticket.id}}">
      <header class="bg-info d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="padding-left:16px; padding-right: 16px">
	<div class="mb-3 mb-md-0 me-md-auto">
	  <h1>Unrefined!</h1>
	  <p>The ticket estimation tool for remote teams.</p>
	</div>
	<ul class="nav nav-pills">
	  <li class="nav-item">
        <a class="nav-link px-2 link-secondary" href="/assets/chrome-extension/unrefined.zip">
            <i class="bi bi-browser-chrome" style="font-size: 30px"></i>Chrome extension
        </a>
      </li>
	  <li class="nav-item">
        <a class="nav-link px-2 link-secondary" href="https://gitlab.com/fpischedda/unrefined">
            <img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-500.png" alt="Sources" heigth="52" width="52">
        </a>
      </li>
	</ul>
      </header>
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
  </body>
</html>
