{% extends "templates/base.html" %}

{% block head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block body %}
<p>Hi {{name}}! Thank you for estimating the ticket {{ticket.id}}.</p>
<p>Your vote: {{vote}}</p>

<div>
  <p>Current activity</p>
  <p>Total voted: <span id="total-voted">{{ticket.current-session.votes|count}}</span></p>
  <p>Total skipped: <span id="total-skipped">{{ticket.current-session.skips|count}}</span></p>
  <div id="vote-chart" width="700" height="600"></div>
</div>

<script type="text/javascript" src="/assets/sse.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
{% endblock %}
