{% extends "templates/base.html" %}
{% block body %}
<div class="flex-container">
  <div style="width: 50%">
    <p> Ticket:  <a href="{{ticket.link-to-original}}">{{ticket.id}}</a>
      <div><button onclick="copy_estimation_link('/estimate')">Copy link to estimation page</button></div>
    </p>

    <button>
      <a href="/refine/{{refinement.code}}/ticket/{{ticket.id}}/results">
      Reveal results
      </a>
    </button>

    <p>
      Estimate a new ticket:
      <form method="POST" action="/refine/{{refinement.code}}/ticket">
	<input type="text" name="ticket-url" placeholder="Ticket URL here"/><button>Start!</button>
      </form>
    </p>
  </div>
  <div style="width: 50%">
    <p>Current activity</p>
    <p>Total voted: <span id="total-voted">{{ticket.current-session.votes|count}}</span></p>
    <p>Total skipped: <span id="total-skipped">{{ticket.current-session.skips|count}}</span></p>
    <div id="vote-chart"></div>
  </div>
</div>

<script type="text/javascript" src="/assets/sse.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<script type="text/javascript">start();</script>
{% endblock %}
