{% extends "templates/base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <p>
        Current ticket: <a href="{{ticket.link-to-original}}">{{ticket.id}}</a>
	<div>
	    Using cheat sheet <strong>{{ refinement.settings.cheatsheet }}</strong>
	</div>
        <div>
	  <button
	   type="button"
	   class="btn btn-primary"
	   onclick="copy_estimation_link('{{refinement.code}}', '{{ticket.id}}', this)"
	   >Copy link to estimation page</button>
	</div>
      </p>

      <p>
        <a class="btn btn-primary" href="/refine/{{refinement.code}}/ticket/{{ticket.id}}/results">
          Reveal results
        </a>
      </p>

      <p>
	<form method="POST" action="/refine/{{refinement.code}}/ticket/{{ticket.id}}/re-estimate">
	  <button class="btn btn-primary">
	    Reset current estimation
	  </button>
	</form>
      </p>

      <p>
        Estimate a new ticket:
      </p>
      <form method="POST" action="/refine/{{refinement.code}}/ticket" class="input-group">
        <input class="form-control" type="text" name="ticket-url" placeholder="Ticket URL here"/>
        <button type="submit" class="btn btn-primary">Start!</button>
      </form>
    </div>
    <div class="col">
      <h4>Current activity</h4>
      <p>Total voted: <span id="total-voted">{{ticket.current-session.votes|count}}</span></p>
      <p>Total skipped: <span id="total-skipped">{{ticket.current-session.skips|count}}</span></p>
      <div id="vote-chart"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/sse.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<script type="text/javascript">start();</script>
{% endblock %}
