{% extends "templates/base.html" %}
{% block body %}
<form method="POST" action="/refine/{{refinement.code}}/ticket/{{ticket.id}}/estimate">
  <input type="hidden" name="points" id="points" value="0"/>
  <div class="flex-container">
    <div style="width: 50%">
      <p>We are estimating ticket <a href="{{ticket.link-to-original}}">{{ticket.id}}</a>
      <p>HI <input type="text" name="name" {% if name %}value="{{name}}"{% endif %} placeholder="Insert your name here" />!
	, please cast your vote  </p>
      <p>Points breakdown</p>
      <table>
	<tbody style="border-size: 1px">
	  <tr><td>Implementation</td><td><input class="breakdown-entry" type="text" size="4" name="implementation"></td></tr>
	  <tr><td>Tests</td><td><input class="breakdown-entry" type="text" size="4" name="tests"></td></tr>
	  <tr><td>Migrations</td><td><input class="breakdown-entry" type="text" size="4" name="migrations"></td></tr>
	  <tr><td>Risk</td><td><input class="breakdown-entry" type="text" size="4" name="risk"></td></tr>
	  <tr><td>Pain</td><td><input class="breakdown-entry" type="text" size="4" name="pain"></td></tr>
	  <tr><td>Refactoring</td><td><input type="text" size="4" name="refactoring"></td></tr>
	</tbody>
      </table>
      </p>
    </div>
    <div style="width: 50%">
      <p>Total story points <span id="total-story-points">0</span></p>
      <p><button name="estimate-button">Estimate!</button> or <button name="skip-button">Skip...</button></p>
      <p>
	<button onclick="copy_estimation_link()">Copy link to estimation page</button>
      </p>
    </div>
  </div>
</form>

<script type="text/javascript" src="/assets/sse.js"></script>
<script type="text/javascript" src="/assets/main.js"></script>
<script type="text/javascript">start_voting_page();</script>
{% endblock %}
