{% extends "templates/base.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <form method="POST" action="/refine">
	{% if error %}
	<p>Oh no! {{error}}</p>
	{% endif %}
        <p>Enter the URL of the ticket to refine and press Start!</p>
        <div class="input-group">
          <input
	    id="start"
            class="form-control"
            type="text"
            name="ticket-url"
            placeholder="Ticket URL here"
            required
          />
          <button type="submit" class="btn btn-primary">Start!</button>
        </div>
	<div>
	  <button class="btn btn-default" data-bs-target="#collapseSettings" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseSettings" type="button">
	    Settings
	</button></div>
	<div class="collapse" id="collapseSettings">
	  <div class="card card-body">
	    <label for="cheatsheet">Cheatsheet</label>
	    <select name="cheatsheet" class="form-select" id="cheatsheet-select">
	      {% for cheatsheet,_ in cheatsheets%}
	      <option value="{{cheatsheet}}">{{cheatsheet}}</option>
	      {% endfor %}
	    </select>
	    <div class="form-check">
	      <input class="form-check-input" type="checkbox" value="" id="show-cheatsheet-details">
	      <label class="form-check-label" for="show-cheatsheet-details">
		Show breakdown items
	      </label>
	    </div>

	    {% for cheatsheet,breakdowns in cheatsheets%}
	    <div id="{{cheatsheet}}-breakdowns" class="d-none cheatsheet-breakdown">
	      <table class="table">
		{% for breakdown in breakdowns %}
		<tr>
		  <td>
		    <u>{{breakdown.name|replace:_:" "|capitalize}}</u>
		    <br/>
		    <i>{{breakdown.label}}</i>
		  </td>
		  {% for example in breakdown.examples %}
		  <td>{{example}}</td>
		  {% endfor %}
		</tr>
		{% endfor %}
	      </table>
	    </div>
	    {% endfor %}
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>
<div class="b-example-divider"></div>
<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Refinement session flow</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 text-center rounded px-3 py-2">
          <i class="bi bi-node-plus-fill"></i>
        </div>
        <h3 class="fs-2">Start a new session</h3>
        <p>Paste the link to the ticket and click start. It automatically detects Jira, Gitlab, Github and Trello URLs (more to come!). Free text works too.</p>
        <a href="#start" class="icon-link d-inline-flex align-items-center">
          Start now!
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 text-center rounded px-3 py-2">
          <i class="bi bi-people-fill"></i>
        </div>
        <h3 class="fs-2">Share the link with your team</h3>
        <p>After starting a session, share the link with your team to either estimate the ticket or whats the results.</p>
        <a href="#start" class="icon-link d-inline-flex align-items-center">
          Start now!
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3 text-center rounded px-3 py-2">
          <i class="bi bi-search-heart-fill"></i>
        </div>
        <h3 class="fs-2">Get the final estimation</h3>
        <p>Once everyone have finished voting, the final result can be revealed with the option to re estimate the ticket if there is no clear agreement.</br>
	If needed you can refine a new ticket from the result page.</p>
        <a href="#start" class="icon-link d-inline-flex align-items-center">
          Start now!
        </a>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="https://cookieconsent.popupsmart.com/src/js/popper.js"></script><script> window.start.init({Palette:"palette2",Mode:"banner bottom",})</script>

<script type="text/javascript">
  const hideAllCheatSheets = () => {

    [...document.getElementsByClassName('cheatsheet-breakdown')].forEach(e => {
      e.classList.add('d-none')
    })
  }

  const showSelectedCheatSheet = (cheatsheet) => {

    hideAllCheatSheets()

    document.getElementById(`${cheatsheet}-breakdowns`).classList.remove('d-none')
  }

  document.getElementById('show-cheatsheet-details').onchange = (e) => {
    const checked = document.getElementById('show-cheatsheet-details').checked

    if( checked ) {
      showSelectedCheatSheet(document.getElementById('cheatsheet-select').value)
    }
    else {
      hideAllCheatSheets()
    }

  }

  document.getElementById('cheatsheet-select').onchange = (e) => {
    const checked = document.getElementById('show-cheatsheet-details').checked
    if( checked ) {
      showSelectedCheatSheet(document.getElementById('cheatsheet-select').value)
    }
  }
</script>
{% endblock %}
