{% extends "templates/base.html" %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <form method="POST" action="/refine">
	{% if error %}
	<p>Oh no! {{error}}</p>
	{% endif %}
        <p>Enter the URL of the ticket to refine and press Start!</p>
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            name="ticket-url"
            placeholder="Ticket URL here"
            required
          />
          <button type="submit" class="btn btn-primary">Start!</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
