{% extends "templates/base.html" %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <form method="POST" action="/refine">
        <p>Enter the URL of the ticket to refine and press Start!</p>
        <div class="input-group">
          <input
            class="form-control"
            type="text"
            name="ticket-url"
            placeholder="Ticket URL here"
          />
          <button type="submit" class="btn btn-primary">Start!</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
