body {
  background-color: #fbfbf8;
}

.header {
  background-color: #9acde0;
  padding: 8px;
}

.flex-container {
  display: flex;
  background-color: #cbe1ef;
}

.flex-container > div {
  padding: 8px;
  font-size: 30px;
}

button a {
  text-decoration: none;
  color: black;
}
